/* --- Estilo General para el cuerpo --- */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body{
	background: linear-gradient(to left, #066272, #001110);
	color: white;
    	font-family: 'Open Sans', sans-serif;		
	
}

/* --- Contenedor Loading screen --- */
.loading-screen {
    	display: flex;
	flex-direction: column;
    	align-items: center;
    	justify-content: center;
       	height: 100vh;
    	width: 100%;
	position: fixed;
    	top: 0;
    	left: 0;
 	background: linear-gradient(135deg, #066272, #001110);
	z-index: 1000; 
}

/* --- Contenedor Efecto Ripple --- */
.ripple {
    	position: relative;
    	width: 50px;
    	height: 50px;
    	margin-bottom: 10px;	
}

.ripple::before,
.ripple::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid rgb(223, 199, 166); /* Color del Ripple */
    opacity: 1;
    animation: rippleAnimation 1.5s ease-out infinite;
}

.ripple::after {
    animation-delay: 0.75s;
}

/* --- Ripple animación --- */
@keyframes rippleAnimation {
    0% {
        transform: scale(0.5); opacity: 1;
    }
    100% {
        transform: scale(2); opacity: 0;
    }
}

/* --- Texto Cargando --- */
.loading-text {
    font-size: 1.3rem;
    color: #5d6a76;
    line-height: 4rem;
    letter-spacing: 0.08rem;
    font-weight: 'Bebas Neue';
}

/* --- Contenedor Principal --- */
.contenedor{
  	position: relative;
	min-height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: auto 1fr auto;
	align-items: center;	
	overflow: hidden;
}

/* --- Video Contenedor --- */
.video-contenedor video{
	position: fixed;
	width: 100%;
    	height: 100%;
	object-fit: cover;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;	
	z-index: -2;	
}


/* --- Header y menú --- */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.56rem 5%;
	z-index: 10;
}

header a.logotipo{
	text-decoration: none;
	color: rgb(223, 199, 166);
	font-size: 1.6em;
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
}

.logotipo:hover{
	color: rgb(156, 139, 116);
}

header .menu{
	display: flex;
	gap: 1rem;
	font-size: 0.9em;
	font-weight: normal;		
}

header .menu a{
	padding-right: 1.2rem;
	text-decoration: none;
	letter-spacing: 1px;
	color: rgb(156, 139, 116);	
}

header .menu a:hover, header .menu a.activo{
	color: rgb(223, 199, 166);
}

/* --- Contenido --- */
main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2.2rem;
	gap: 0.8rem;	
}

h1{
	font-family: 'Poppins', sans-serif;
	font-size: clamp(4.9rem, 8vw, 8rem);
	letter-spacing: 0.4rem;
	line-height: clamp(4rem, 7vw, 7rem);
	text-transform: uppercase;
}

h2{
	font-family: 'Poppins', sans-serif;
	font-size: clamp(1.9rem, 3vw, 3rem);
	letter-spacing: 0.2rem;
	line-height: clamp(2rem, 3.2vw, 3.2rem);
	text-transform: uppercase;
}


/* --- Sección --- */
.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max(35ch, 26vw);
	padding: max(0.6rem, 0.7rem);
	border-right: 1px dotted hsla(34.49999999999997, 16.81%, 53.33%, 1.00);
	border-left: 1px dotted hsla(34.49999999999997, 16.81%, 53.33%, 1.00);
	border-radius: 14px;
}

.section p{
	font-size: 0.8rem;
	line-height: clamp(1.1rem, 1.4vw, 1.4rem);
	font-weight: normal;
	letter-spacing: 0.04rem;
	margin-bottom: 1rem;
	text-align: center;
	word-break: break-word;			
}

/* --- Botón --- */
.btn-1{
 	padding: 0.5em 1em;	
	font-family: 'Open Sans', sans-serif;
	color: white;	
	font-size: 0.8em;
  	border: none;
	border-radius: 10px;
  	cursor: pointer;
	background: linear-gradient(150deg, #066272, #001110);
	transition: transform 0.3s, box-shadow 0.3s;	
}

.btn-1:hover {
   	box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
	transform: scale(1.05);
}

/* ---- Pie de página --- */
footer{
	position: absolute;
	z-index: 10;
	bottom: 0;	
	width: 100%;
	padding: 0.62rem;
	display: flex;
	justify-content: flex-end;
	font-size: 0.5em;
	font-weight: normal;
	color: rgb(156, 139, 116);
}

footer .menu-2{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: normal;			
}

footer .menu-2 a{
	margin-right: 1.5rem;
	text-decoration: none;
	letter-spacing: 0.06rem;
	color: rgb(156, 139, 116);	
}

footer .menu-2 a:hover{
	color: rgb(223, 199, 166);
}

/* --- OVERLAY FULLSCREEN MENU --- */
.overlay-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%,rgba(0, 0, 0, 0.8)50%);
	backdrop-filter: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease;
}

.overlay-menu.open {
	opacity: 1;
	visibility: visible;
}

.overlay-menu ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

.overlay-menu li {
	margin: 1.5rem 0;
}

.overlay-menu a {
	font-size: 2.1rem;
	color: rgb(223, 199, 166);
	text-decoration: none;
	transition: color 0.3s;
	position: relative;
}

.overlay-menu a:hover {
	color: rgb(156, 139, 116);
}

.overlay-menu a::after {
	content: '';
	height: 3px;
	width: 0;
	background: #801c1d;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
}

.overlay-menu a:hover:after {
	width: 100%;
}

/* Botón para cerrar el overlay */
.close-overlay {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 2rem;
	color: rgb(223, 199, 166);
	cursor: pointer;
}

.close-overlay:hover {
	color: rgb(156, 139, 116);
}


@media screen and (max-width: 750px) {
	main{
	flex-direction: column;
        align-items: center;
        text-align: center;
    }
	
}